
header {
	background-image: url("header.jpeg");
	height: 395px;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	background-image: url("sun.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1, h2, h3 {font-family: 'Abril Fatface', cursive;
	color: orange;
border-style: double;
border-color: slateblue;
border-size: 5px;
text-align: center;
}
p{
	font-family: 'Abril Fatface', cursive;
	color: orange;
	border-style: dotted;
	border-color: slateblue;
	border-size: 5px;
}
.aside {

	border-width: 5px;
	border-color: red;
	float: right;
	display: block;
	  background-color: slateblue;
	  color:orange;
  width:199px;

}
.pink{
	color:  #FB68F0;
}
.orange{
	color:#FF5151;
}
.blue{
	color:slateblue;
}
.blue2{
	color: blue;
}
.pink:hover{
	background-color:orange;
}
.blue:hover{
	background-color: #FF5151;
}
.blue2:hover{
	background-color: #FB68F0;
}
.hi:hover{
background-color: #FB68F0;
}

.monkey {
	width: 300px;
	height:300px;
}
a:hover{
	background-color: teal;
	color: yellow;
}
footer{
	
	color:white;
}
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {


  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.theTarget {
  display: grid;

}
